In [2]:

import os
from openai import OpenAI
from dotenv import load_dotenv

import PyPDF2
from docx import Document

import json

In [3]:
load_dotenv()
client = OpenAI(api_key=os.getenv("OPENAI_API_KEY"))

In [7]:

def extract_text_from_pdf(pdf_file_path):
    text = ""
    try:
        with open(pdf_file_path, 'rb') as file:
            reader = PyPDF2.PdfReader(file)
            for page_num in range(len(reader.pages)):
                page = reader.pages[page_num]
                text += page.extract_text()
    except Exception as e:
        print(f"Error reading PDF file: {e}")
    return text

def extract_text_from_docx(docx_file_path):
    text = ""
    try:
        doc = Document(docx_file_path)
        for para in doc.paragraphs:
            text += para.text + "\n"
    except Exception as e:
        print(f"Error reading DOCX file: {e}")
    return text

In [22]:
candidate_details=f'''
my name is Ravish Kumar. 
I have completed my Bachelor of Computer Applications (BCA) from Jim Vasant Kunj, affiliated with GGSIPU. 
I got a decent GPA of 8.2 and ranked 513 on the entrance exam. Over the years, 
I've developed a strong skill set in Python, Git, Django, and the MERN stack. 
I am a critical and logical thinker, naturally drawn me towards coding and problem-solving. 
My hobbies include trading and watching movies, which help me stay analytical and creative.  
I enjoy working on challenging projects that require innovative solutions and continuous learning."
'''

In [34]:

name='uploads/Resume-rakesh.pdf'
p,n=name.split('.')
# Example Usage:
p,n

('uploads/Resume-rakesh', 'pdf')

In [35]:
if n=='pdf':
    candidate_details = extract_text_from_pdf(name)

else: 
    candidate_details = extract_text_from_docx(name)

In [36]:
if n=='pdf':
    candidate_details2 = extract_text_from_pdf(name)

else: 
    candidate_details2 = extract_text_from_docx(name)

In [37]:
candidate_details==candidate_details2

True

In [38]:

name='uploads/job.docx'
p,n=name.split('.')
# Example Usage:
if n=='pdf':
    job_description = extract_text_from_pdf(name)

else: 
    job_description = extract_text_from_docx(name)

In [24]:
job_description='''We are looking for a highly motivated Data Analyst to join our dynamic team at datafactz. In this role, you will analyze large datasets to uncover insights, generate reports, and help drive strategic business decisions. You’ll collaborate closely with different teams to translate data into actionable recommendations.

Key Responsibilities:

Collect, clean, and analyze data to identify trends and patterns.
Generate reports and dashboards using tools like Excel, SQL, and Power BI.
Support decision-making by providing data-driven insights to various departments.
Collaborate with cross-functional teams to improve processes and outcomes.
Ensure data accuracy and integrity across all systems.
Qualifications:

Bachelor’s degree in a related field (e.g., Statistics, Economics, Computer Science).
Strong proficiency in data analysis tools such as SQL, Excel, and visualization platforms (Power BI, Tableau).
Analytical mindset with excellent attention to detail.
Ability to present data findings clearly and concisely.
Why Join Us? At datafactz, we value innovation, teamwork, and a data-driven approach to problem-solving. Join us to make an impact and grow your career in a supportive and fast-paced environment.'''

In [39]:
prompt = f'''
You are an AI assistant tasked with generating customized interview questions based on a candidate’s details and a job description.

Context:

Candidate Details: {candidate_details}
Job Description: {job_description}
Task: Create a list of up to 8 interview questions. The list should include the following predefined questions, tailored to the candidate’s details and job description, as well as any additional questions you deem relevant:

What is your expected salary range?
Can you share your date of birth?
Do you have experience with [relevant skill from job posting]?
What are your preferred work hours?
Can you tell us about a challenging project you've worked on?
Please ensure each question is customized based on the specific candidate and job requirements. Provide the final output as a numbered list of interview questions and Only list the questions as output, nothing else..

'''

In [40]:
response = client.chat.completions.create(
    model="gpt-4o",
    messages=[
        {"role": "user", "content": prompt}
    ]
)
response.choices[0].message.content

"1. What is your expected salary range?\n2. Can you share your date of birth?\n3. Do you have experience with Django or Flask web frameworks?\n4. What are your preferred work hours?\n5. Can you tell us about a challenging data analysis project you've worked on and how you managed it?\n6. How do you approach optimizing data accuracy and processing efficiency in your work?\n7. Can you describe a situation where you implemented a blockchain solution for secure and transparent data management?\n8. How do you plan to utilize your ongoing education in AI and Machine Learning in the context of our Full Stack Developer role?"

In [16]:
print((response))

ChatCompletion(id='chatcmpl-A6tt418179cUV6ZCaehbNTOxNva2U', choices=[Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='1. What is your expected salary range?\n2. Can you share your date of birth?\n3. Do you have experience with data visualization tools like Power BI or Tableau?\n4. What are your preferred work hours?\n5. Can you tell us about a challenging project you\'ve worked on, such as "Speech Sense," and how you overcame obstacles?\n6. How did you ensure data accuracy and integrity in your "Speech Sense" project?\n7. Can you detail your experience using SQL for data analysis?\n8. How do you approach translating data findings into actionable recommendations for non-technical stakeholders?', refusal=None, role='assistant', function_call=None, tool_calls=None))], created=1726208162, model='gpt-4o-2024-05-13', object='chat.completion', service_tier=None, system_fingerprint='fp_25624ae3a5', usage=CompletionUsage(completion_tokens=119, prompt_tokens=822, total_tokens=941, completion_tokens_details={'reasoning_tokens': 0}))

In [252]:
m=json.loads(response.choices[0].message.content)

JSONDecodeError: Extra data: line 1 column 2 (char 1)

In [41]:
m=response.choices[0].message.content

In [42]:
m.split('\n')

['1. What is your expected salary range?',
 '2. Can you share your date of birth?',
 '3. Do you have experience with Django or Flask web frameworks?',
 '4. What are your preferred work hours?',
 "5. Can you tell us about a challenging data analysis project you've worked on and how you managed it?",
 '6. How do you approach optimizing data accuracy and processing efficiency in your work?',
 '7. Can you describe a situation where you implemented a blockchain solution for secure and transparent data management?',
 '8. How do you plan to utilize your ongoing education in AI and Machine Learning in the context of our Full Stack Developer role?']

In [193]:
candidate_details

'Today’s session by Pranav\nToday, Pranav talked about his project called "Speech Sense." He started by explaining why he built the project. He found it difficult to take notes during meetings and figure out the overall sentiment of the discussions. So, he wanted to create something that could automatically summarize the key points from a meeting and understand its sentiment.\nPranav looked at platforms that offered similar services, but most of them were paid. So he decided he want to develop his own tool. His idea was to create an application that not only summarized meeting recordings but also let users ask specific questions about the meeting. To do this, he used advanced models like GPT and Whisper (a text-to-speech model).\nFor the first version of his project, he used Streamlit to build the user interface and GPT-3.5 for processing language. However, he faced a few challenges. One issue was with the database, as he needed it to update user interactions in real-time. Streamlit also had a problem where the whole program would restart whenever a user interacted with the interface. To fix this, he used tabs, so only the section that the user was interacting with would reload.\nPranav said this was just a basic version of his project, so he started working on a better one. He chose Firebase to store data because Streamlit had too many limitations at that time. But another problem came up: for people to use his application, his computer had to be on all the time since it was hosting the app. He realized he needed to deploy the application somewhere else.\nHe decided to use AWS for this, but then found out that the AWS server could only be accessed from his office network. To fix this, he whitelisted certain IP addresses so he could access the app from anywhere, not just the office.\nIn the end, Pranav’s journey with "Speech Sense" taught him a lot. He faced challenges with the user interface, databases, and deployment, but he kept improving the project step by step.\n\n'

In [151]:
json.loads(m.replace("'",'"'))

{'ats': 65}

In [80]:
for i in m['skills']:

    print(i)

Python
SQL
Data Analysis
Data Visualization
Software Development
Blockchain
Leadership & Training
Process Improvement
Team Incubation

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('interview.db')
c = conn.cursor()

In [14]:
c.execute("""create table try(
            name text,
            age integer,
            email text
            
            )""")

In [4]:

list=[("Alice",30,"alice@example.com"),
          ("Bob",20,"bob@example.com"),
          ("Mike",35,"mike@example.com"),
          ("Emma",22,"emma@example.com")]
c.executemany('''
 insert into try(name,age,email ) values (?,?,?)''',list)

In [5]:
m=c.execute("""
select * from try

""")

In [6]:
m.fetchall()

[('Alice', 30, 'alice@example.com'),
 ('Bob', 20, 'bob@example.com'),
 ('Mike', 35, 'mike@example.com'),
 ('Emma', 22, 'emma@example.com')]

In [19]:
ms=[{"role":"system","content":"What is your expected salary range?"},{"role":"user","content":"10000000"},{"role":"system","content":"Can you share your date of birth?"},{"role":"user","content":"5 may"},{"role":"system","content":"Do you have experience in [skill from job posting]?"},{"role":"user","content":"no"},{"role":"system","content":"What are your preferred work hours?"},{"role":"user","content":"6"},{"role":"system","content":"Can you tell us about a challenging project you've worked on?"},{"role":"user","content":"no i will not"}]

In [20]:
ms[0]

{'role': 'system', 'content': 'What is your expected salary range?'}

In [13]:
for i in range(0,len(ms),2):
    print(f"question {(i//2)+1}: {ms[i]['content']}\nans: {ms[i+1]['content']}")

NameError: name 'ms' is not defined

In [1]:
from apicall import get_questions
from apicall import get_score

In [13]:

job='uploads/job.docx'
resume='uploads/ravish_resume.pdf'
m=get_questions(job,resume)

In [14]:
m

['1. What is your expected salary range?',
 '2. Can you share your date of birth?',
 '3. Do you have experience with Django and Flask web frameworks?',
 '4. What are your preferred work hours?',
 "5. Can you tell us about a challenging project you've worked on, such as the Ease Journey website or the Recruitment Portal?",
 '6. How do you ensure clarity in OOP fundamentals and Data Structures in your projects?',
 '7. Can you describe your experience with RDBMS, specifically MySQL and MongoDB?',
 '8. How do you approach troubleshooting issues and collaborating with a technical team to develop new features?']

In [2]:
convo='''Q1. What is your expected salary range?
Answer: 1 lakh
Q2. Can you share your date of birth?
Answer: 4 May
Q3. Do you have experience with Django and other Python web frameworks like Flask?
Answer: no
Q4. What are your preferred work hours?
Answer: 8
Q5. Can you tell us about a challenging project you've worked on, such as the "Ease Journey" website or the recruitment portal?
Answer: yes
Q6. How do you ensure clarity in OOP fundamentals and Data Structures in your projects?
Answer: lklk
Q7. Can you describe your experience with RDBMS, specifically MySQL and MongoDB?
Answer: a
Q8. How do you approach leading a project and distributing work among your technical team?
Answer: jfk'''

In [6]:
convo='''Q1. What is your expected salary range?
Answer: 1 lakh
Q2. Can you share your date of birth?
Answer: 4 May
Q3. Do you have experience with Django and other Python web frameworks like Flask?
Answer: Yes, I have extensive experience with Django, having developed projects like a recruitment portal and legal advisory website. While I’ve primarily worked with Django, I'm also familiar with Flask and its use in Python web development.
Q4. What are your preferred work hours?
Answer: 8 h
Q5. Can you tell us about a challenging project you've worked on, such as the Chatbot or Recruitment Portal, and how you handled it?
Answer: I developed a Python GUI chatbot using Tkinter for instant job-related queries and FAQs. The challenge was integrating real-time responses and creating a user-friendly interface. I handled it by using multi-threading to improve response times and ensuring the bot could manage multiple queries efficiently.
Q6. How proficient are you in Data Structures like List, Dict, Set, Strings, and using Lambda expressions in Python?
Answer: I'm highly proficient with Python data structures like Lists, Dicts, Sets, and Strings. I frequently use them in projects for efficient data handling. I'm also comfortable using lambda expressions, particularly in situations where concise anonymous functions improve code readability and performance.
Q7. Can you describe your experience with RDBMS, specifically MySQL, and how you've utilized it in your projects?
Answer: I have experience with MySQL, primarily using it in my MERN stack travel website project. I utilized MySQL to manage user data, product listings, and transaction records. I implemented complex queries for filtering and joining tables to provide efficient data retrieval for the platform.
Q8. How do you approach leading technical projects, particularly in distributing work and meeting project timelines?
Answer: In leading technical projects, I focus on clear task division based on team members' strengths. I ensure regular communication through progress check-ins and allocate time for testing and debugging. Prioritizing tasks and setting achievable deadlines helps the team stay on track and meet project timelines effectively.'''

In [7]:
job='uploads/job.docx'
m=get_score(job,convo)

In [8]:
print(m)

ChatCompletion(id='chatcmpl-A70ca2ADoIWdGRt1o1fAULOlkdE0Z', choices=[Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='90', refusal=None, role='assistant', function_call=None, tool_calls=None))], created=1726234048, model='gpt-4-0613', object='chat.completion', service_tier=None, system_fingerprint=None, usage=CompletionUsage(completion_tokens=1, prompt_tokens=760, total_tokens=761, completion_tokens_details={'reasoning_tokens': 0}))

In [9]:
m.choices[0].message.content

'90'

In [1]:
from db_operations import fetch_data,get_db_connection

In [2]:
data = fetch_data()

In [3]:
data

,id,name,email,phone_number,picture,conversation,resume_path,score
0,2,ravish,jp@jk.com,551,images\ravish-551.png,Q1. What is your expected salary range?\nAnswe...,uploads/ravish_resume.pdf,70
1,6,Ravish Kumar,ravishk0409@gmail.com,09818921487,images\Ravish Kumar-0981.png,Q1. What is your expected salary range?\nAnswe...,uploads/ravish_resume.pdf,70
2,3,vdvv,vfs,rav,images\vdvv-rav.png,QWhat is your expected salary range?\nAnswer: ...,uploads/ravish_resume.pdf,42
3,4,rakesh,rav,ggbb,images\rakesh-ggbb.png,QWhat is your expected salary range?\nAnswer: ...,uploads/Resume-rakesh.pdf,42
4,5,bhav,fff,556,images\bhav-556.png,QWhat is your expected salary range?\nAnswer: ...,uploads/resume.pdf,42
5,7,tata,hj@kl.com,5741,images\tata-5741.png,Q1. What is your expected salary range?\nAnswe...,uploads/resume.pdf,30
6,8,rag,jajgg@hjbsnb,6455,images\rag-6455.png,Q1. What is your expected salary range?\nAnswe...,uploads/Resume-rakesh.pdf,26
7,9,ghfgh,353451,35324512,images\ghfgh-3532.png,QWhat is your expected salary range?\nAnswer: ...,uploads/Resume-rakesh.pdf,21
8,10,rakesh,qty@mk.com,7825893145,images\rakesh-7825.png,QWhat is your expected salary range?\nAnswer: ...,uploads/Resume-rakesh.pdf,16
9,1,ravish,rav,fsv,images\ravish-fsv.png,What is your expected salary range?\n5\nCan yo...,uploads/ravish_resume.pdf,0

In [72]:
if data.loc[(data['name']=='bhav') & (data['email']=='fff')].size:
    print("bhav ff is present")

bhav ff is present

In [26]:
for i,y in (data[['id','name']].values):
    print((i,y))

(2, 'ravish')
(1, 'ravish')

In [7]:
for i,v in zip(data['id'],data['name']):
    print(f'{i}. {v}')

2. ravish
3. vdvv
4. rakesh
5. bhav
1. ravish

In [50]:
data[data['id']==9].values

array([[9, 'ghfgh', '353451', '35324512', 'images\\ghfgh-3532.png',
        "QWhat is your expected salary range?\nAnswer: 54\nQCan you share your date of birth?\nAnswer: 212\nQDo you have experience in [skill from job posting]?\nAnswer: 5522121\nQWhat are your preferred work hours?\nAnswer: 51120\nQCan you tell us about a challenging project you've worked on?\nAnswer: 5212\n",
        'uploads/Resume-rakesh.pdf', 21]], dtype=object)

In [6]:
p=['rav','anuj','alok']
f=lambda x: [f'{i}. {v}' for i,v in enumerate(p)]
f(p)

['0. rav', '1. anuj', '2. alok']

In [48]:
values=data[data['id']==9].values

In [56]:
values[0][0]=11

In [57]:
conn = get_db_connection()
cursor = conn.cursor()
columns_str=', '.join(data.columns) 
placeholders=', '.join(['?' for _ in values[0]])
placeholders

'?, ?, ?, ?, ?, ?, ?, ?'

In [58]:
values

array([[11, 'ghfgh', '353451', '35324512', 'images\\ghfgh-3532.png',
        "QWhat is your expected salary range?\nAnswer: 54\nQCan you share your date of birth?\nAnswer: 212\nQDo you have experience in [skill from job posting]?\nAnswer: 5522121\nQWhat are your preferred work hours?\nAnswer: 51120\nQCan you tell us about a challenging project you've worked on?\nAnswer: 5212\n",
        'uploads/Resume-rakesh.pdf', 21]], dtype=object)

In [59]:
query = f"INSERT INTO users ({columns_str}) VALUES ({placeholders})"

In [60]:
cursor.execute(query, values)
conn.commit()
print(f"Data inserted into users successfully.")

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 8, and there are 1 supplied.

In [5]:
os.environ['NEW_VARIABLE'] = 'value'

In [5]:
m=os.getenv("token")

In [6]:
m.split('-')

['%token%', 'uploads/job.docx']

In [12]:
from db_operations import get_db_connection,fetch_data, update_score, create_database, add_data,add_recruiter,create_recruiter_database,fetch_recruiter_data,create_job_database,add_job,fetch_job_data

In [ ]:
add_job('rav',('data science',"baaalajaj",'token/455'))

In [2]:
data=fetch_job_data('rav')

In [3]:
data

Empty DataFrame
Columns: [id, job, description, token]
Index: []

In [8]:
data.loc[data['job']=='python']

Empty DataFrame
Columns: [id, job, description, token]
Index: []

In [74]:
data=fetch_recruiter_data()

In [80]:
'rav' in data[['username']]

False

In [81]:
def all(*arg):
    print(arg)
all(54,66,6,6)

(54, 66, 6, 6)

In [15]:
from db_operations import fetch_job_data,create_database

In [30]:
try:
    data=fetch_job_data('rav')
except:
    print('Error fetching data')

In [38]:
data.loc[data['id']==2,'description']

InvalidIndexError: (0    False
1     True
2    False
3    False
4    False
Name: id, dtype: bool, 'description')

In [12]:
try:
    data=fetch_job_data('ra')
except:
    print('Error fetching data')

Error fetching data

In [11]:
data=4

In [23]:
create_database("token7report jnnk")

OperationalError: near "jnnk": syntax error